/* Remove all margin and padding from the body */
body {
    margin: 0;
    padding: 0;
}

/* Set the padding for the main tag */
main {
    padding: 16px;
}

/* Set the padding for the footer tag */
footer {
    padding: 24px 0;
}

/* Set the height for the image tag */
img {
    height: 100px;
}

/* Set the border and padding for the nav tag */
nav {
    border-bottom: 1px solid black;
    padding: 16px;
}
