/* Remove underline from all anchor tags */
a {
    text-decoration: none;
}

/* Style the nav */
header nav {
    background-color: #FFDAB9;
    /* Change to desired color */
}

header nav a {
    color: #000;
    /* Change to desired color */
}

header nav a:hover {
    border-bottom-color: #FFA07A;
    /* Change to desired color */
}

/* Style the recipe list */
.recipe-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.recipe-item a {
    color: #008080;
    /* Change to desired color */
}

.recipe-item img {
    max-width: 100%;
}

.rating {
    font-size: 2em;
    padding-top: 1em;
}

/* Style the footer */
footer {
    padding: 2em;
}
